html {
    body {
        @include resetToZero;
        @include setMax;

        a {
            @include innerBanner(none, none, none, $colorYellow, 1);
        }

        a:hover {
            text-decoration: none;
            color: $colorBlack;
        }

        .container-fluid {
            .space {
                @include spaceMaking;
            }
        }

        svg:hover {
            fill: red;
        }
    }
}