body {
    .cgv {
        .content-cgv {
            display: flex;
            flex-direction: column;
            @include resizeImg(100vw, none);
            @include paddingRule(0, 0, 20vw, 20vw);
            margin-bottom: 7VH;

            h1 {
                @include fontRule(none, none, none, none, center);
                @include marginRule(3VH, 15VH, 0, 0);
                @include innerBanner($titleSize, bolder, 1px, $colorBlack, 1);
            }

            h2 {
                @include fontRule(1.6em, bold, none, none, left);
                @include marginRule(2VH, 2VH, 0, 0);
                @include innerBanner(none, none, 1px, $colorBlack, 1);
            }

            h3 {
                @include fontRule(1.3em, none, none, none, left);
                @include marginRule(1VH, 1VH, 0, 0);
                @include innerBanner(none, bold, 1px, $colorBlack, 0.8);
            }

            p {
                @include fontRule(1em, none, none, none, justify);
                @include marginRule(0.5VH, 0.5VH, 0, 0);
                word-wrap: break-word;
            }

            .bordered {
                @include borderRule(1px, solid, #808080, 2px);
                @include paddingRule(1VH, 1VH, 2vw, 2vw);
                width: -moz-fit-content;
                max-width: 50vw;
            }
        }
    }
}