body {
    .displaying-event {
        @include headerPos(flex, column, center, center);

        h1 {
            margin-top: 6VH;
            @include marginRule(6VH, 6VH, 0, 0);
            @include fontRule(32, 41.6, bold, none, none, center, 1px, $colorBlack, 1);
        }

        .row {
            @include resizeImg(-moz-fit-content, 70VH);
            @include borderRule(2px, solid, #808080, 5px);
            @include paddingRule(1VH, 1VH, 0.5vw, 0.5vw);
            max-width: 50vw;
            margin-bottom: 10VH;

            .ImageAndDate {
                @include headerPos(flex, column, center, center);

                p {
                    @include marginRule(3VH, 3VH, 0, 0);
                    @include paddingRule(1VH, 1VH, 0.5vw, 0.5vw);
                    @include borderRule(1px, solid, #808080, 5px);
                    @include fontRule(16, 19.2, none, none, none, center, 1px, $colorBlack, 1);
                }
            }

            div {
                @include headerPos(flex, row, center, center);

                .associationImg {
                    @include resizeImg(20vw, none);
                    border-radius: 10px;
                }
            }

            .associationText {
                display: flex;
                flex-direction: column;

                h2 {
                    @include marginRule(1VH, 1VH, 0, 0);
                    @include fontRule(20.8, 32, none, none, none, center, 1px, $colorBlack, 1);
                }

                p {
                    @include marginRule(1VH, 1VH, 0, 0);
                    max-width: 30vw;
                    @include fontRule(8, 17.6, lighter, none, none, justify, 1px, $colorBlack, 1);
                }

                a {
                    text-decoration: none;
                    font-size: 2VH;
                    @include resizeImg(13vw, 5VH);
                    @include borderRule(1px, solid, #ffc107, 5px);
                    @include colorRule(#ffc107, #ffffff);
                    @include headerPos(flex, row, center, center);
                    @include marginRule(1VH, 1VH, 0, 0);
                }

                div
                {
                    .reactionButton
                    {
                        font-size: 2VH;
                        @include resizeImg(13vw, 5VH);
                        @include fitContent(width);
                        @include borderRule(1px, solid, #ffc107, 5px);
                        @include colorRule(#ffc107, #ffffff);
                        @include headerPos(flex, row, center, center);
                        @include marginRule(1VH, 1VH, 1vw, 1vw);
                    }
                }
            }
        }

        .content {
            @include headerPos(flex, row, center, center);

            p {
                transform: translate(-2vW);
            }
        }

        .reverseContent {
            @include headerPos(flex, row-reverse, center, center);

            p {
                transform: translate(2vW);
            }
        }
    }
}