html {
    body {
        .displaying-Faq {
            @include headerPos(flex, row, center, center);
            @include marginRule(9vh, 0, 0, 0);

            img {
                @include resizeImg(300px, 232px);
                border-radius: 5px;
            }
        }

        .displaying-questions {
            @include headerPos(flex, row, center, center);

            .container {
                h4 {
                    text-align: center;
                    @include marginRule(9vh, 3vh, 0, 0);
                    @include fontRule(20.8, 25, bold, none, none, none, 1px, $colorBlack, 1);
                }

                .displaying-card {
                    @include marginRule(0, 2vh, 0, 0);
                    border: none;

                    .effect-faq {
                        transition: ease-in 0.3s;
                        border-bottom: none;

                        &:hover {
                            background-color: #D3DAE2;
                        }

                        .color-faq {
                            color: $colorBlack;
                            text-decoration: none;
                        }

                        .color-faq:hover {
                            text-decoration: none;
                            color: $colorBlack;
                        }
                    }
                }
            }
        }
    }
}