$radius : 2.1vh !default;
$padding : 1vh !default;
$sizeFont : 1vh !default;
$colorYellow : #FFC107 !default;
$colorBlack : #343A40 !default;
$colorMoreBlack: #23272A !default;
$titleSize : $sizeFont+25 !default;
$mediumTitle: $sizeFont+15 !default;
$defaultSizeFont : 1em !default;

@font-face {
    font-family: "Roboto";
    src: font-url('src/fonts/Roboto.woff2');
}

@font-face {
    font-family: "Roboto-Bold";
    src: font-url('src/fonts/Roboto-Bold.woff2');
}


@font-face {
    font-family: "Roboto-Light";
    src: font-url('src/fonts/Roboto-Light.woff2');
}