html {
    body {
        .header {
            @include headerBackground(white);

            .pos-logo {
                @include headerPos(flex, row, flex-start, none);

                img {
                    height: 80px;
                }
            }

            .pos-nav-menu {
                @include headerPos(flex, row, center, center);

                span {
                    a {
                        position: relative;
                        color: $colorBlack;
                        font-weight: bolder;
                        letter-spacing: 1px;
                        padding: $padding;
                        font-size: $sizeFont+2;

                        &::after {
                            @include undescoreLine(0, $colorBlack);
                        }

                        &:hover::after {
                            transform: scaleX(1);
                        }
                    }
                }
            }
        }

        .pos-icon {
            @include headerPos(flex, row, flex-end, center);

            a {
                padding-right: $padding*2;

                .pseudo {
                    @include fontRule(12px, 12px, bolder, none, none, none, 1px, $colorBlack, 1);
                }

                button {
                    @include buttonStyle($sizeFont);
                }

                img {
                    color: $colorBlack;
                    @include resizeImg(30px, 30px);
                }
            }
        }
    }
}