@font-face {
  font-family: "Roboto";
  src: font-url("src/fonts/Roboto.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto-Bold";
  src: font-url("src/fonts/Roboto-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto-Light";
  src: font-url("src/fonts/Roboto-Light.woff2") format("woff2");
}
html body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Roboto-Bold", "Roboto-Light";
  width: 100%;
  height: 100%;
  overflow-X: hidden;
}
html body .container {
  padding: 0;
  margin: 0;
}
html body .container-fluid {
  padding: 0;
  margin: 0;
}
html body .row {
  padding: 0;
  margin: 0;
}
html body .col-md-4 {
  padding: 0;
  margin: 0;
}
html body .col-md-5 {
  padding: 0;
  margin: 0;
}
html body .col-md-6 {
  padding: 0;
  margin: 0;
}
html body .col-md-7 {
  padding: 0;
  margin: 0;
}
html body .col-md-8 {
  padding: 0;
  margin: 0;
}
html body a {
  font-size: none;
  font-weight: none;
  letter-spacing: none;
  color: #FFC107;
  opacity: 1;
}
html body a:hover {
  text-decoration: none;
  color: #343A40;
}
html body .container-fluid .space {
  height: 70px;
}

html body .header {
  position: absolute;
  background-color: white;
  opacity: 0.8;
  height: 80px;
}
html body .header .pos-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: none;
}
html body .header .pos-logo img {
  height: 80px;
}
html body .header .pos-nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
html body .header .pos-nav-menu span a {
  position: relative;
  color: #343A40;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 10px;
  font-size: 12px;
}
html body .header .pos-nav-menu span a::after {
  position: absolute;
  top: auto;
  width: 100%;
  bottom: -1px;
  height: 2px;
  background-color: #343A40;
  transform: scaleX(0);
  content: "";
  transition: all 0.3s ease 0s;
  transform-origin: left center;
  left: 0;
}
html body .header .pos-nav-menu span a:hover::after {
  transform: scaleX(1);
}
html body .pos-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
html body .pos-icon a {
  padding-right: 30px;
}
html body .pos-icon a button {
  border-radius: 22px;
  font-size: 10px;
  border-width: 2px;
}
html body .pos-icon a img {
  color: #343A40;
  width: 30px;
  height: 30px;
}

html body .container-fluid .image-size {
  width: 100%;
  height: 100%;
}
html body .container-fluid .inner-banner {
  position: absolute;
  top: 40%;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body .container-fluid .inner-banner div:nth-child(1) span {
  font-size: 25px;
  font-weight: none;
  letter-spacing: 1px;
  color: white;
  opacity: 0.6;
}
html body .container-fluid .inner-banner div:nth-child(2) span {
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: white;
  opacity: 1;
}
html body .container-fluid .inner-banner div:nth-child(3) {
  margin-top: 20px;
}
html body .container-fluid .inner-banner div:nth-child(3) button:nth-child(1) {
  border-radius: 22px;
  font-size: 12px;
  border-width: 2px;
}
html body .container-fluid .inner-banner div:nth-child(4) {
  margin-top: 20px;
}
html body .container-fluid .inner-banner div:nth-child(4) button:nth-child(1) {
  border-radius: 22px;
  font-size: 12px;
  border-width: 2px;
}

section .container-fluid .row .col-md-5 {
  height: 400px;
}
section .container-fluid .row .col-md-5 .school-background {
  background-color: #FFC107;
  width: 100%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
}
section .container-fluid .row .col-md-7 {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .container-fluid .row .col-md-7 .displaying-school-text {
  padding: 130px 70px 70px 200px;
}
section .container-fluid .row .momo {
  height: 100px;
}
section .container-fluid .row div:nth-child(3) .displaying-title {
  position: relative;
  bottom: 370%;
  left: 35%;
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
section .container-fluid .row div:nth-child(3) .displaying-title span::before {
  position: absolute;
  width: 51px;
  height: 5px;
  background-color: #343A40;
  transform: scaleX(1);
  content: "";
  left: -60px;
  bottom: 25px;
}
section .container-fluid .row div:nth-child(3) .displaying-image {
  position: relative;
  bottom: 380%;
  left: 32%;
}
section .container-fluid .row div:nth-child(3) .displaying-image .resize-logo-image {
  width: 300px;
  height: 300px;
}

section .container-fluid .pos-whoAreWe .title-whoAreWe {
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section .container-fluid .pos-whoAreWe .title-whoAreWe span::before {
  position: absolute;
  width: 55px;
  height: 5px;
  background-color: #343A40;
  transform: scaleX(1);
  content: "";
  left: none;
  bottom: none;
}
section .container-fluid .pos-whoAreWe .displaying-whoAreWe {
  padding: 130px 70px 70px 200px;
}
section .container-fluid .displaying-whoAreWeImage {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .container-fluid .displaying-whoAreWeImage .resize-whoAreWeImage {
  width: 300px;
  height: 300px;
}

.displaying-dashBoard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: #343A40;
}
.displaying-dashBoard .dashboard {
  height: 80%;
}
.displaying-dashBoard .dashboard .row {
  height: 50%;
}
.displaying-dashBoard .dashboard .row .orange-box {
  background-color: #FFC107;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.displaying-dashBoard .dashboard .row .orange-box div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: white;
  opacity: 1;
}
.displaying-dashBoard .dashboard .row .orange-box div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16.6666666667px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: white;
  opacity: 1;
}
.displaying-dashBoard .dashboard .row .white-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.displaying-dashBoard .dashboard .row .white-box div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #FFC107;
  opacity: 1;
}
.displaying-dashBoard .dashboard .row .white-box div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16.6666666667px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #FFC107;
  opacity: 1;
}
.displaying-dashBoard .dashboard .row .title-dashBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.displaying-dashBoard .dashboard .row .title-dashBoard div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.displaying-dashBoard .dashboard .row .title-dashBoard div:nth-child(1) span {
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #FFC107;
  opacity: 0.6;
}
.displaying-dashBoard .dashboard .first div:nth-child(1) {
  border-radius: 22px 0 0 0;
}
.displaying-dashBoard .dashboard .second div:nth-child(1) {
  border-radius: 0 0 0 22px;
}
.displaying-dashBoard .dashboard .second div:nth-child(4) {
  border-radius: 0 0 22px 0;
}

body footer .footerMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body footer .footerMenu ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body footer .footerMenu ul li {
  list-style: none;
  padding-top: none;
  padding-bottom: none;
  padding-left: 20px;
  padding-right: 20px;
}
body footer .footerMenu ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: none;
  letter-spacing: 0px;
  color: #343A40;
  opacity: 1;
  background-color: none;
  color: #808080;
  transition: color 0.2s ease-in 0s;
}
body footer .footerMenu ul li a:hover {
  color: #ffc107;
  text-decoration: none;
}
body footer .socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 64px;
  margin-bottom: 30px;
}
body footer .socialMedia a img {
  width: 25px;
  height: none;
  margin-top: none;
  margin-bottom: none;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid #000000;
  border-radius: 6px;
  transition: background-color 0.2s ease-in 0s;
}
body footer .socialMedia a .fbColor:hover {
  background-color: #3b5998;
}
body footer .socialMedia a .twColor:hover {
  background-color: #00aced;
}
body footer .socialMedia a .instaColor:hover {
  background-color: #c13584;
}
body footer .subscribeForm {
  display: flex;
  justify-content: center;
}
body footer .subscribeForm form .subscribeText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: default;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 0.7;
  padding-bottom: 10px;
}
body footer .subscribeForm form .subscribeInput {
  border: 1px solid #808080;
  border-radius: 15px;
  color: #808080;
  width: 300px;
  height: 30px;
  transform: translate(8%);
}
body footer .subscribeForm form .submitButton {
  height: 30px;
  border: 1px solid #ffc107;
  border-radius: 15px;
  background-color: #ffc107;
  color: #ffffff;
  transform: translate(-25%);
}

body .mini-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 64px;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: none;
  margin-right: none;
}
body .mini-header a img {
  width: 64px;
  height: none;
  margin-top: none;
  margin-bottom: none;
  margin-left: 15px;
  margin-right: 15px;
}

/*
Contact form CSS
*/
body .container-fluid .content-contact {
  width: none;
  height: 500px;
  margin-bottom: 80px;
}
body .container-fluid .content-contact .contactImg {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
body .container-fluid .content-contact .contactImg .img-avionPapier {
  position: absolute;
  top: 205px;
  right: -26px;
  bottom: none;
  left: none;
  width: 153px;
  height: none;
}
body .container-fluid .content-contact .contactImg img {
  width: 500px;
  height: none;
}
body .container-fluid .content-contact .contactForm h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #FFC107;
  opacity: 1;
}
body .container-fluid .content-contact .contactForm form {
  margin-left: 15%;
}
body .container-fluid .content-contact .contactForm form input {
  width: 250px;
  height: 40px;
  border: 1px solid #505050;
  border-radius: 5px;
  background-color: #505050;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
body .container-fluid .content-contact .contactForm form .longInput {
  width: 515px;
  height: 40px;
  border: 1px solid #505050;
  border-radius: 5px;
  background-color: #505050;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
body .container-fluid .content-contact .contactForm form textarea {
  width: 515px;
  height: 80px;
  border: 1px solid #505050;
  border-radius: 5px;
  background-color: #505050;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}
body .container-fluid .content-contact .contactForm form div:nth-child(5) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
body .container-fluid .content-contact .contactForm form div:nth-child(5) button {
  width: 100px;
  height: 30px;
  border: 1px solid #ffc107;
  border-radius: 5px;
  background-color: #ffc107;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: white;
  opacity: 1;
}

html body .displaying-Faq {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
}
html body .displaying-Faq img {
  width: 300px;
  height: 232px;
  border-radius: 5px;
}
html body .displaying-questions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
html body .displaying-questions .container h4 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
html body .displaying-questions .container .displaying-card {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
  border: none;
}
html body .displaying-questions .container .displaying-card .effect-faq {
  transition: ease-in 0.3s;
  border-bottom: none;
}
html body .displaying-questions .container .displaying-card .effect-faq:hover {
  background-color: #D3DAE2;
}
html body .displaying-questions .container .displaying-card .effect-faq .color-faq {
  color: #343A40;
  text-decoration: none;
}
html body .displaying-questions .container .displaying-card .effect-faq .color-faq:hover {
  text-decoration: none;
  color: #343A40;
}

body .container-fluid .content {
  width: none;
  height: 70VH;
}
body .container-fluid .content button {
  border-radius: 22px;
  font-size: 12px;
  border-width: 2px;
  text-decoration: none;
  position: absolute;
  font-size: 2VH;
  width: 4vw;
  height: 7VH;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: none;
  transform: translate(33vw, 5VH);
}
body .container-fluid .content div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: none;
}
body .container-fluid .content div .error403Img {
  width: 40vw;
  height: none;
}
body .container-fluid .content .digit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: none;
}
body .container-fluid .content .digit span {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.8em;
  font-weight: bolder;
}
body .container-fluid .content .digit .zeroDigit {
  transform: translate(0, 2VH);
}

body .container-fluid .content-bis {
  width: none;
  height: 70VH;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: none;
  margin-bottom: 10VH;
}
body .container-fluid .content-bis div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: none;
}
body .container-fluid .content-bis div .error403Img {
  width: 30vw;
  height: none;
}
body .container-fluid .content-bis .errorText {
  display: flex;
  flex-direction: column;
  transform: translate(-10vw, 0VH);
}
body .container-fluid .content-bis .errorText h1 {
  margin-top: 1VH;
  margin-bottom: 1VH;
  margin-left: 0;
  margin-right: 0;
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
body .container-fluid .content-bis .errorText p {
  margin-top: 1VH;
  margin-bottom: 1VH;
  margin-left: 0;
  margin-right: 0;
}
body .container-fluid .content-bis .errorText button {
  border-radius: 22px;
  font-size: 12px;
  border-width: 2px;
}
body .container-fluid .content-bis .digit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: none;
}
body .container-fluid .content-bis .digit span {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.8em;
  font-weight: bolder;
}
body .container-fluid .content-bis .digit .zeroDigit {
  transform: translate(0, 2VH);
}

html body .container-fluid .team-header {
  margin-top: 100px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body .container-fluid .team-header div:nth-child(1) span {
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
html body .container-fluid .team-header div:nth-child(2) span {
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 0.5;
}
html body section .container-fluid .row .team-block {
  height: 600px;
}
html body section .container-fluid .row .team-block .team-background {
  background-color: #FFC107;
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}
html body section .container-fluid .row .team-text {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body section .container-fluid .row .team-text .displaying-school-team-text {
  padding: 200px 200px 70px 200px;
}
html body section .container-fluid .row div:nth-child(3) .team-displaying-title {
  position: relative;
  bottom: 564%;
  left: 53%;
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
html body section .container-fluid .row div:nth-child(3) .team-displaying-title span::before {
  position: absolute;
  width: 51px;
  height: 5px;
  background-color: #343A40;
  transform: scaleX(1);
  content: "";
  left: -60px;
  bottom: 25px;
}
html body section .container-fluid .row div:nth-child(3) .team-displaying-image {
  position: relative;
  bottom: 512%;
  left: 56%;
}
html body section .container-fluid .row div:nth-child(3) .team-displaying-image .team-resize-logo-image {
  width: 450px;
  height: 450px;
}
html body section .container-fluid .row .team-list-displaying {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body section .container-fluid .row .team-list-displaying span a {
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
  position: relative;
}
html body section .container-fluid .row .team-list-displaying span a:nth-child(1)::before {
  position: absolute;
  top: 21px;
  width: 100%;
  bottom: -1px;
  height: 5px;
  background-color: #343A40;
  transform: scaleX(1);
  content: "";
  transition: all 0.3s ease 0s;
  transform-origin: left center;
  left: 0;
}
html body section .container-fluid .row .team-list-displaying span a:nth-child(2)::before {
  position: absolute;
  top: 21px;
  width: 100%;
  bottom: -1px;
  height: 5px;
  background-color: #343A40;
  transform: scaleX(1);
  content: "";
  transition: all 0.3s ease 0s;
  transform-origin: left center;
  left: 0;
}
html body section .container-fluid .row .team-list-displaying span a:nth-child(3)::before {
  position: absolute;
  top: 21px;
  width: 100%;
  bottom: -1px;
  height: 5px;
  background-color: #343A40;
  transform: scaleX(1);
  content: "";
  transition: all 0.3s ease 0s;
  transform-origin: left center;
  left: 0;
}
html body section .container-fluid .row .team-list-displaying span a:nth-child(4)::before {
  position: absolute;
  top: 21px;
  width: 100%;
  bottom: -1px;
  height: 5px;
  background-color: #343A40;
  transform: scaleX(1);
  content: "";
  transition: all 0.3s ease 0s;
  transform-origin: left center;
  left: 0;
}
html body section .container-fluid .row .team-list-displaying span a:nth-child(1):hover::before {
  transform: scaleX(0);
}
html body section .container-fluid .row .team-list-displaying span a:nth-child(2):hover::before {
  transform: scaleX(0);
}
html body section .container-fluid .row .team-list-displaying span a:nth-child(3):hover::before {
  transform: scaleX(0);
}
html body section .container-fluid .row .team-list-displaying span a:nth-child(4):hover::before {
  transform: scaleX(0);
}
html body .displaying-title-whoWeAre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
html body .displaying-title-whoWeAre .title-whoWeAre span {
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
html body .displaying-title-whoWeAre .title-whoWeAre span::before {
  position: absolute;
  width: 51px;
  height: 5px;
  background-color: #343A40;
  transform: scaleX(1);
  content: "a";
  left: -60px;
  bottom: 25px;
}
html body section .displaying-image-whoWeAre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
html body section .displaying-image-whoWeAre .center-teamate .displaying-teamate .resize-image-teamate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body section .displaying-image-whoWeAre .center-teamate .displaying-teamate .resize-image-teamate img {
  width: 150px;
  height: 150px;
}
html body section .displaying-image-whoWeAre .center-teamate .displaying-teamate .resize-image-teamate #specific-resize {
  width: auto;
  height: 150px;
}
html body section .displaying-image-whoWeAre .center-teamate .displaying-teamate .resize-image-teamate div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body section .displaying-image-whoWeAre .center-teamate .displaying-teamate .resize-image-teamate div span:nth-child(1) {
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
html body section .displaying-image-whoWeAre .center-teamate .displaying-teamate .resize-image-teamate div span:nth-child(2) {
  font-size: 16px;
  font-weight: none;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 0.6;
}
html body section .displaying-teamate-bis {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
html body section .displaying-teamate-bis .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
html body section .displaying-teamate-bis .container .resize-image-teamate-bis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body section .displaying-teamate-bis .container .resize-image-teamate-bis img {
  width: auto;
  height: 200px;
}
html body section .displaying-teamate-bis .container .resize-image-teamate-bis div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body section .displaying-teamate-bis .container .resize-image-teamate-bis div span:nth-child(1) {
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
html body section .displaying-teamate-bis .container .resize-image-teamate-bis div span:nth-child(2) {
  font-size: 16px;
  font-weight: none;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 0.6;
}
html body section .displaying-pourquoi-bde {
  z-index: 1;
}
html body section .displaying-pourquoi-bde .displaying-pourquoi-bde-row .col-md-8 {
  height: 500px;
}
html body section .displaying-pourquoi-bde .displaying-pourquoi-bde-row .col-md-8 .color-pourquoi-bde-col {
  background-color: #FFC107;
  width: 100%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
}
html body section .displaying-pourquoi-bde .displaying-pourquoi-bde-row .container-fluid .team-displaying-title-pourquoi {
  position: relative;
  bottom: 300%;
  left: 53%;
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
html body section .displaying-pourquoi-bde .displaying-pourquoi-bde-row .container-fluid .team-displaying-title-pourquoi span::before {
  position: absolute;
  width: 51px;
  height: 5px;
  background-color: #343A40;
  transform: scaleX(1);
  content: "";
  left: -60px;
  bottom: 25px;
}
html body section .displaying-pourquoi-bde .displaying-pourquoi-bde-row .container-fluid .team-displaying-image-team {
  position: relative;
  bottom: 500%;
  left: 3%;
}
html body section .displaying-pourquoi-bde .displaying-pourquoi-bde-row .container-fluid .team-displaying-image-team img {
  width: 350px;
  height: 350px;
}
html body section .displaying-pourquoi-bde .displaying-block-container {
  z-index: 5;
  height: 250px;
  position: relative;
  bottom: -370%;
  left: 0%;
}
html body section .displaying-pourquoi-bde .displaying-block-container .row {
  background-color: #343A40;
  width: 100%;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
}
html body section .displaying-pourquoi-bde .displaying-block-container .row .color-black-pourquoi-bde-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 40px;
}
html body section .displaying-pourquoi-bde .displaying-block-container .row .color-black-pourquoi-bde-col span {
  font-size: 16px;
  font-weight: none;
  letter-spacing: none;
  color: white;
  opacity: 0.6;
}
html body section .container-fluid .displaying-tools .displaying-tools-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body section .container-fluid .displaying-tools .displaying-tools-col div:nth-child(1) {
  padding-top: 0;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
html body section .container-fluid .displaying-tools .displaying-tools-col div:nth-child(2) {
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 16px;
  font-weight: none;
  letter-spacing: none;
  color: #343A40;
  opacity: 1;
}
html body section .container-fluid .displaying-tools .displaying-tools-col div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body section .container-fluid .displaying-tools .displaying-tools-col div:nth-child(3) span:nth-child(1) {
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: none;
  color: #343A40;
  opacity: 1;
}
html body section .container-fluid .displaying-tools .displaying-tools-col div:nth-child(3) span:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
html body section .container-fluid .displaying-tools .displaying-tools-col div:nth-child(3) span:nth-child(2) span {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}
html body section .container-fluid .displaying-tools .displaying-tools-col div:nth-child(3) span:nth-child(2) span img {
  width: 30px;
  height: 30px;
}
html body section .container-fluid .displaying-tools .displaying-tools-col-bis .displaying-tools-col-ter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
html body section .container-fluid .displaying-tools .displaying-tools-col-bis .displaying-tools-col-ter img {
  border-radius: 10px 0 0 10px;
}

body .cgv .content-cgv {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20vw;
  padding-right: 20vw;
  margin-bottom: 7VH;
}
body .cgv .content-cgv h1 {
  font-size: none;
  font-weight: none;
  font-style: none;
  text-decoration: none;
  text-align: center;
  margin-top: 3VH;
  margin-bottom: 15VH;
  margin-left: 0;
  margin-right: 0;
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
body .cgv .content-cgv h2 {
  font-size: 1.6em;
  font-weight: bold;
  font-style: none;
  text-decoration: none;
  text-align: left;
  margin-top: 2VH;
  margin-bottom: 2VH;
  margin-left: 0;
  margin-right: 0;
  font-size: none;
  font-weight: none;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
body .cgv .content-cgv h3 {
  font-size: 1.3em;
  font-weight: none;
  font-style: none;
  text-decoration: none;
  text-align: left;
  margin-top: 1VH;
  margin-bottom: 1VH;
  margin-left: 0;
  margin-right: 0;
  font-size: none;
  font-weight: bold;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 0.8;
}
body .cgv .content-cgv p {
  font-size: 1em;
  font-weight: none;
  font-style: none;
  text-decoration: none;
  text-align: justify;
  margin-top: 0.5VH;
  margin-bottom: 0.5VH;
  margin-left: 0;
  margin-right: 0;
  word-wrap: break-word;
}
body .cgv .content-cgv .bordered {
  border: 1px solid #808080;
  border-radius: 2px;
  padding-top: 1VH;
  padding-bottom: 1VH;
  padding-left: 2vw;
  padding-right: 2vw;
  width: -moz-fit-content;
  max-width: 50vw;
}

body .legal-notice .content-legal-notice {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: none;
  margin-top: 4VH;
  margin-bottom: 5VH;
  margin-left: 20vw;
  margin-right: 20vw;
  border: 2px solid #808080;
  border-radius: 3px;
  padding-top: 6VH;
  padding-bottom: 1VH;
  padding-left: 2vw;
  padding-right: 2vw;
  width: -moz-fit-content;
  max-width: 60vw;
}
body .legal-notice .content-legal-notice h1 {
  font-size: 2em;
  font-weight: bold;
  font-style: none;
  text-decoration: none;
  text-align: center;
  margin-top: 2VH;
  margin-bottom: 2VH;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-top: 2VH;
  padding-bottom: 2VH;
  padding-left: 1vw;
  padding-right: 1vw;
  position: absolute;
  transform: translate(19vw, -12VH);
  background-color: #ffffff;
}
body .legal-notice .content-legal-notice p {
  font-size: 1em;
  font-weight: none;
  font-style: none;
  text-decoration: none;
  text-align: justify;
  margin-top: 0.5VH;
  margin-bottom: 0.5VH;
  margin-left: 0;
  margin-right: 0;
  word-wrap: break-word;
}

body .cpds .cpds-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20vw;
  padding-right: 20vw;
  margin-bottom: 7VH;
}
body .cpds .cpds-content h1 {
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
  margin-top: 3VH;
  margin-bottom: 12VH;
  margin-left: 0;
  margin-right: 0;
}
body .cpds .cpds-content h2 {
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
  margin-top: 2VH;
  margin-bottom: 2VH;
  margin-left: 0;
  margin-right: 0;
}
body .cpds .cpds-content h3 {
  font-size: 1.3em;
  font-weight: none;
  font-style: none;
  text-decoration: none;
  text-align: left;
  margin-top: 1VH;
  margin-bottom: 1VH;
  margin-left: 0;
  margin-right: 0;
}
body .cpds .cpds-content p {
  font-size: 1em;
  font-weight: none;
  font-style: none;
  text-decoration: none;
  text-align: justify;
  margin-top: 0.5VH;
  margin-bottom: 0.5VH;
  margin-left: 0;
  margin-right: 0;
  word-wrap: break-word;
}
body .cpds .cpds-content .bordered {
  border: 1px solid #808080;
  border-radius: 2px;
  padding-top: 1VH;
  padding-bottom: 1VH;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  margin-top: 1VH;
  margin-bottom: 1VH;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  width: -moz-fit-content;
  max-width: 50vw;
}
body .cpds .cpds-content div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2VH;
  margin-bottom: 2VH;
  margin-left: 1vw;
  margin-right: 1vw;
}
body .cpds .cpds-content div thead th {
  font-size: 1.1em;
  font-weight: bold;
  font-style: none;
  text-decoration: none;
  text-align: left;
}
body .cpds .cpds-content div tbody td {
  font-size: 0.8em;
  font-weight: lighter;
  font-style: none;
  text-decoration: none;
  text-align: justify;
}

html #rain-theme section .construct-page .construct-content-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html #rain-theme section .construct-page .construct-content-page div:nth-child(2) {
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 0;
  margin-right: 0;
}

html .log {
  background-color: #878A8E;
}
html .log section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 150px;
  margin-left: 0;
  margin-right: 0;
}
html .log section .form-displaying {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 600px;
  background-color: #343A40;
  border-radius: 10px;
}
html .log section .form-displaying form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html .log section .form-displaying form h3 {
  font-size: auto;
  font-weight: bolder;
  letter-spacing: 1px;
  color: white;
  opacity: 1;
}
html .log section .form-displaying form div {
  width: 186px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start !important;
  align-items: flex-end !important;
}
html .log section .form-displaying form div p {
  font-size: auto;
  font-weight: auto;
  letter-spacing: 1px;
  color: white;
  opacity: 1;
}
html .log section .form-displaying form input {
  border-radius: 22px;
}
html .log section .form-displaying a {
  color: white;
}
html .log section .form-displaying a:hover {
  color: #FFC107;
}
html .log section .form-displaying-bis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 1300px;
  background-color: #343A40;
  border-radius: 10px;
}
html .log section .form-displaying-bis form {
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html .log section .form-displaying-bis form h3 {
  font-size: auto;
  font-weight: bolder;
  letter-spacing: 1px;
  color: white;
  opacity: 1;
}
html .log section .form-displaying-bis form div {
  width: 567px;
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
}
html .log section .form-displaying-bis form div p {
  font-size: auto;
  font-weight: auto;
  letter-spacing: 1px;
  color: white;
  opacity: 1;
}
html .log section .form-displaying-bis form input {
  border-radius: 22px;
}
html .log section .form-displaying-bis form input .label {
  border-radius: 22px;
  width: 45px;
}
html .log section .form-displaying-bis a {
  color: white;
}
html .log section .form-displaying-bis a:hover {
  color: #FFC107;
}

body .displaying-association h1 {
  margin-top: 6VH;
  font-size: 2.6em;
  font-weight: bold;
  font-style: none;
  text-decoration: none;
  text-align: center;
  font-size: auto;
  font-weight: auto;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
body .displaying-association .row {
  width: none;
  height: 70VH;
  margin-bottom: 10VH;
}
body .displaying-association .row div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .displaying-association .row div .associationImg {
  width: 30vw;
  height: none;
  border-radius: 10px;
}
body .displaying-association .row .associationText {
  display: flex;
  flex-direction: column;
}
body .displaying-association .row .associationText h2 {
  margin-top: 1VH;
  margin-bottom: 1VH;
  margin-left: 0;
  margin-right: 0;
  font-size: 2em;
  font-weight: none;
  font-style: none;
  text-decoration: none;
  text-align: center;
  font-size: auto;
  font-weight: auto;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
body .displaying-association .row .associationText p {
  margin-top: 1VH;
  margin-bottom: 1VH;
  margin-left: 0;
  margin-right: 0;
  max-width: 30vw;
  font-size: 1.1em;
  font-weight: lighter;
  font-style: none;
  text-decoration: none;
  text-align: justify;
  font-size: auto;
  font-weight: auto;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
body .displaying-association .row .associationText a {
  text-decoration: none;
  font-size: 2VH;
  width: 13vw;
  height: 5VH;
  border: 1px solid #ffc107;
  border-radius: 22px;
  background-color: #ffc107;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1VH;
  margin-bottom: 1VH;
  margin-left: 0;
  margin-right: 0;
}
body .displaying-association .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .displaying-association .content .associationText {
  transform: translate(-10vw, 0VH);
}
body .displaying-association .reverseContent {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
body .displaying-association .reverseContent .associationText {
  transform: translate(10vw, 0VH);
}

body .displaying-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .displaying-event h1 {
  margin-top: 6VH;
  margin-top: 6VH;
  margin-bottom: 6VH;
  margin-left: 0;
  margin-right: 0;
  font-size: 2.6em;
  font-weight: bold;
  font-style: none;
  text-decoration: none;
  text-align: center;
  font-size: auto;
  font-weight: auto;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
body .displaying-event .row {
  width: -moz-fit-content;
  height: 70VH;
  border: 2px solid #808080;
  border-radius: 5px;
  padding-top: 1VH;
  padding-bottom: 1VH;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  max-width: 50vw;
  margin-bottom: 10VH;
}
body .displaying-event .row .ImageAndDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .displaying-event .row .ImageAndDate p {
  margin-top: 3VH;
  margin-bottom: 3VH;
  margin-left: 0;
  margin-right: 0;
  padding-top: 1VH;
  padding-bottom: 1VH;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  border: 1px solid #808080;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: none;
  font-style: none;
  text-decoration: none;
  text-align: center;
  font-size: auto;
  font-weight: auto;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
body .displaying-event .row div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .displaying-event .row div .associationImg {
  width: 20vw;
  height: none;
  border-radius: 10px;
}
body .displaying-event .row .associationText {
  display: flex;
  flex-direction: column;
}
body .displaying-event .row .associationText h2 {
  margin-top: 1VH;
  margin-bottom: 1VH;
  margin-left: 0;
  margin-right: 0;
  font-size: 2em;
  font-weight: none;
  font-style: none;
  text-decoration: none;
  text-align: center;
  font-size: auto;
  font-weight: auto;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
body .displaying-event .row .associationText p {
  margin-top: 1VH;
  margin-bottom: 1VH;
  margin-left: 0;
  margin-right: 0;
  max-width: 30vw;
  font-size: 12.8px;
  font-weight: lighter;
  font-style: none;
  text-decoration: none;
  text-align: justify;
  font-size: auto;
  font-weight: auto;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
body .displaying-event .row .associationText a {
  text-decoration: none;
  font-size: 2VH;
  width: 13vw;
  height: 5VH;
  border: 1px solid #ffc107;
  border-radius: 5px;
  background-color: #ffc107;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1VH;
  margin-bottom: 1VH;
  margin-left: 0;
  margin-right: 0;
}
body .displaying-event .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .displaying-event .content p {
  transform: translate(-2vW);
}
body .displaying-event .reverseContent {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
body .displaying-event .reverseContent p {
  transform: translate(2vW);
}

html body .header-shop {
  position: absolute;
  background-color: #343A40;
  opacity: 0.8;
  height: 80px;
  opacity: 1;
}
html body .header-shop .row {
  height: 80px;
}
html body .header-shop .row .pos-logo-shop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 0;
}
html body .header-shop .row .pos-logo-shop img {
  height: 50px;
}
html body .header-shop .row .pos-nav-menu-shop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
html body .header-shop .row .pos-nav-menu-shop span a {
  position: relative;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
  font-size: 12px;
}
html body .header-shop .row .pos-nav-menu-shop span a::after {
  position: absolute;
  top: auto;
  width: 100%;
  bottom: -1px;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  content: "";
  transition: all 0.3s ease 0s;
  transform-origin: left center;
  left: 0;
}
html body .header-shop .row .pos-nav-menu-shop span a:hover::after {
  transform: scaleX(1);
}
html body .header-shop .row .pos-icon-shop {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
html body .header-shop .row .pos-icon-shop a {
  padding-right: 30px;
}
html body .header-shop .row .pos-icon-shop a button {
  border-radius: 22px;
  font-size: 10px;
  border-width: 2px;
}
html body .header-shop .row .pos-icon-shop a img {
  color: #343A40;
  width: 30px;
  height: 30px;
}
html body .header-shop .second-shop-nav {
  opacity: 1;
}
html body .header-shop .second-shop-nav .second-shop-nav-row {
  background-color: #23272A;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70%;
}
html body .header-shop .second-shop-nav .second-shop-nav-row .second-shop-nav-col {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
html body .header-shop .second-shop-nav .second-shop-nav-row .second-shop-nav-col span {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 0;
}
html body .header-shop .second-shop-nav .second-shop-nav-row .second-shop-nav-col span a {
  font-size: 11.4285714286px;
  font-weight: auto;
  letter-spacing: 1px;
  color: white;
  opacity: 1;
}
html body .header-shop .second-shop-nav .second-shop-nav-row .second-shop-nav-col span a:hover {
  font-size: 11.4285714286px;
  font-weight: auto;
  letter-spacing: 1px;
  color: #FFC107;
  opacity: 1;
}
html body .header-shop .second-shop-nav .second-shop-nav-row .second-shop-nav-col-bis {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
html body .header-shop .second-shop-nav .second-shop-nav-row .second-shop-nav-col-bis span {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 0;
}
html body .header-shop .second-shop-nav .second-shop-nav-row .second-shop-nav-col-bis span a {
  font-size: 11.4285714286px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #8D0D02;
  opacity: 1;
}
html body .shop-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
html body .shop-banner .shop-inner-banner {
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
  padding-top: 1VH;
  padding-bottom: 2VH;
  padding-left: 1vw;
  padding-right: 1vw;
}
html body .shop-banner .shop-inner-banner div:nth-child(1) span {
  font-size: auto;
  font-weight: bold;
  letter-spacing: auto;
  color: #343A40;
  opacity: 0.8;
}
html body .shop-banner .shop-inner-banner div:nth-child(2) span {
  font-size: auto;
  font-weight: bold;
  letter-spacing: auto;
  color: #23272A;
  opacity: 1;
}
html body .shop-banner .shop-inner-banner div:nth-child(3) {
  width: 100%;
}
html body .shop-banner .shop-inner-banner div:nth-child(3) div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
html body .reduction {
  height: 60px;
  background-color: #FFC107;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body .reduction span:nth-child(1) {
  font-size: auto;
  font-weight: bolder;
  letter-spacing: 1px;
  color: white;
  opacity: 1;
}
html body .reduction span:nth-child(2) {
  font-size: auto;
  font-weight: none;
  letter-spacing: none;
  color: white;
  opacity: 1;
}
html body section .type-shop .type-shop-row .type-shop-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body section .type-shop .type-shop-row .type-shop-col .type-shop-img {
  width: 100%;
  height: auto;
  opacity: 0.6;
}
html body section .type-shop .type-shop-row .type-shop-col button {
  position: relative;
  top: -20%;
  border-radius: 22px;
}
html body section .shop-collab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
html body section .shop-collab div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body section .shop-collab div span:nth-child(1) {
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
html body section .shop-collab div span:nth-child(2) {
  font-size: 16px;
  font-weight: none;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
html body section .shop-collab-img {
  margin-top: 10%;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
html body section .shop-collab-img .shop-collab-row {
  width: 100%;
  height: auto;
}
html body section .shop-collab-img .shop-collab-row .shop-collab-col-un {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
html body section .shop-collab-img .shop-collab-row .shop-collab-col-un img {
  width: 50%;
  height: auto;
}
html body section .shop-collab-img .shop-collab-row .shop-collab-col-un div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
html body section .shop-collab-img .shop-collab-row .shop-collab-col-un div span:nth-child(1) {
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
html body section .shop-collab-img .shop-collab-row .shop-collab-col-un div div .lighter-font {
  font-size: 16px;
  font-weight: lighter !important;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 0.6;
}
html body section .shop-collab-img .shop-collab-row .shop-collab-col-deux {
  width: 50%;
  height: auto;
}
html body section .shop-collab-img .shop-collab-row .shop-collab-col-deux img {
  width: 50%;
  height: 100%;
}
html body section .shop-collab-img .shop-collab-row .shop-collab-col-deux div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
html body section .shop-collab-img .shop-collab-row .shop-collab-col-deux div span:nth-child(1) {
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
}
html body section .shop-collab-img .shop-collab-row .shop-collab-col-deux div div .lighter-font {
  font-size: 16px;
  font-weight: lighter !important;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 0.6;
}
html body section .collection-shop-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
html body section .collection-shop-title span {
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #343A40;
  opacity: 1;
  padding-top: 0;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
}
html body section .collection-shop-items .collection-shop-row .collection-shop-items-col a img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=index.css.map */
