body {
    .cgv {
        .content-cgv {
            display: flex;
            flex-direction: column;
            @include resizeImg(100vw, none);
            @include paddingRule(0, 0, 20vw, 20vw);
            margin-bottom: 7VH;

            h1 {
                @include fontRule(20.8, 35.2, none, none, none, center, 1px, $colorBlack, 1);
                @include marginRule(3VH, 15VH, 0, 0);
            }

            h2 {
                @include fontRule(16, 25.6, bold, none, none, left, 1px, $colorBlack, 1);
                @include marginRule(2VH, 2VH, 0, 0);
            }

            h3 {
                @include fontRule(14.4, 20.8, none, none, none, left, 1px, $colorBlack, 0.8);
                @include marginRule(1VH, 1VH, 0, 0);
            }

            p {
                @include fontRule(11.2, 16, none, none, none, justify, 1px, $colorBlack, 1);
                @include marginRule(0.5VH, 0.5VH, 0, 0);
                word-wrap: break-word;
            }

            .bordered {
                @include borderRule(1px, solid, #808080, 2px);
                @include paddingRule(1VH, 1VH, 2vw, 2vw);
                width: -moz-fit-content;
                max-width: 50vw;
            }
        }
    }
}