html {
    body {
        header {
            position: absolute;
            display: none;

            @include responsiveSmartphone {
                display: block;
            }

            .displaying-responsiveMenu {
                z-index: 1000;
                position: fixed;
                right: 0;
                bottom: 0;
                background-color: $colorYellow;

                .col-md-6 {
                    height: 60px;
                    width: 50px;

                    .action {
                        position: relative;
                        display: block;
                        cursor: pointer;
                        height: 60px;
                        width: 50px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            span:nth-child(1) {
                                transform: rotate(90deg);
                            }

                            span:nth-chil(2) {
                                transform: rotate(90deg) translate(-10px, 0);
                            }
                        }

                        .menu-cross {
                            position: absolute;
                            height: 25px !important;
                            width: 2px;
                            border: none;
                            box-shadow: none;
                            background-color: $colorMoreBlack;
                            opacity: 1;
                            transition: transform 0.7s ease;
                            transform-origin: center;
                        }
                    }
                }

                .responsive-menu-title {
                    @include headerPos(flex, row, center, center);
                    cursor: pointer;
                    @include fontRule(10.6, 10.6, bolder, none, none , none, 1px, $colorMoreBlack, 1);
                }
            }
        }

        .header-responsive {
            display: none;

            @include responsiveSmartphone {
                display: block;
            }

            .header-responsive-row {
                @include headerPos(flex, row, center, center);
                background-color: $colorMoreBlack;

                img {
                    @include marginRule(10px, 10px, 0, 0);
                    @include resizeImg(70px, 70px);
                }
            }
        }

        #nav-barResponsive {
            display: none;
        }

        .nav-barResponsive {
            background-color: white;

            .nav-bar-displaying {
                padding: 15px;
                border-bottom: 1px solid $colorMoreBlack;

                .nav-bar-item {
                    @include headerPos(flex, column, center, center);
                    padding: 5px;

                    a {
                        span {
                            @include fontRule(16, 16, lighter, none, none , none, 1px, $colorMoreBlack, 1);
                        }
                    }
                }
            }
        }
    }
}